{{ define "base" }}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ template "title" . }} • Blog • Siddhant Kameswar</title>
    <link rel="stylesheet" href="/static/water.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
  </head>
  <body>
    <h1>Siddhant's Blog</h1>
    <hr />
    <h2>{{ template "title" . }}</h2>
    
    <!-- pass template data -->
    {{ template "main" . }}
  </body>
</html>
{{ end }}
